<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Supervisor</title>
    <link rel="stylesheet" href="./assets/bootstrap.min.css">
    <script src="./assets/bootstrap.bundle.min.js"></script>
    <script src="./assets/vue.global.js"></script>
    <link rel="stylesheet" href="./assets/style2023.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="app" class="mx-auto">
        <!-- 导航栏 -->
        <nav class="navbar bg-dark sticky-top border-bottom" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-danger" href="index.html"><b><i>{{title}}</i></b></a>
                <form class="d-flex" role="search" style="width: 60%;">
                    <input class="form-control" type="search" placeholder="🔍开始搜索" aria-label="Search"
                        v-model="searchQuery">
                </form>
            </div>
        </nav>
        <div id="container">
            <!-- 切换 -->
            <div id="change" class="d-flex align-items-center mx-2">
                <h3 class="my-3 text-secondary">严重违章库（2024 · 35条）</h3>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        切换
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="2023.html">典型违章库（2023）</a></li>
                        <li><a class="dropdown-item" href="index.html">严重违章库（2024）</a></li>
                    </ul>
                </div>
            </div>
            <!-- 内容 -->
            <!-- 手风琴格式 -->

            <div class="accordion" id="accordionPanels">
                <div v-for="(item,index) in searchResults">
                    <div class="accordion-item my-2 mx-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-danger" type="button"
                                data-bs-toggle="collapse" :data-bs-target="`#${index}`" aria-expanded="false"
                                :aria-controls="`${index}`">
                                <strong>{{item.id}} . {{item.title}}</strong>
                            </button>
                        </h2>
                        <div :id="index" class="accordion-collapse collapse" data-bs-parent="#accordionPanels">
                            <div class="accordion-body">
                                <p><strong>释义：</strong></p>
                                <div class="text-secondary">
                                    <p v-for="cont in item.content">{{cont}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card格式 -->
            <!-- <div v-for="(item,index) in searchResults">
                <div class="card my-3 mx-2 border-danger">
                    <h5 class="card-header">{{item.id}}</h5>
                    <div class="card-body shadow">
                        <h5 class="card-text text-danger">{{item.title}}</h5>
                        <button class="btn btn-danger btn-sm my-2" type="button" data-bs-toggle="collapse"
                            :data-bs-target="`#${index}`" aria-expanded="false" aria-controls="collapseExample">
                            查看释义
                        </button>
                        <div class="collapse" :id=index>
                            <div class="text-secondary">
                                <p v-for="cont in item.content">{{cont}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- 底部 -->
            <div class="text-secondary mx-3">
                <p class="text-center">END</p>
            </div>
        </div>

        <!-- 回到顶部 -->
        <div class="shadow">
            <button v-show="showBackToTop" @click="scrollToTop" id="backToTop"><svg t="1724314029151" class="icon"
                    viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4250" width="30"
                    height="30">
                    <path
                        d="M535.12 442.432v210.016a16 16 0 0 1-16 16h-16.16a16 16 0 0 1-16-16V440.208l-32.88 32.864a16 16 0 0 1-11.312 4.688h-28.304a14.464 14.464 0 0 1-10.24-24.688l97.824-97.808a11.136 11.136 0 0 1 15.744 0l97.808 97.808a14.464 14.464 0 0 1-10.24 24.688h-28.288a16 16 0 0 1-11.312-4.688l-30.64-30.64zM512 800c159.056 0 288-128.944 288-288s-128.944-288-288-288-288 128.944-288 288 128.944 288 288 288z m0 48c-185.568 0-336-150.432-336-336s150.432-336 336-336 336 150.432 336 336-150.432 336-336 336z"
                        fill="#000000" p-id="4251"></path>
                </svg></button>
        </div>
    </div>
</body>
<script>
    const { createApp } = Vue
    createApp({
        data() {
            return {
                title: 'Supervisor',
                details: [
                    { id: "1", title: "无计划作业。", content: ["1.安全风险管控监督平台无日作业计划（含临时计划、抢修计划）。", "2.安全风险管控监督平台中日计划未开工，现场已开展作业；现场作业过程中，计划状态为取消、完工等状态。",] },
                    { id: "2", title: "作业人员不清楚工作任务、工作范围、危险点。", content: ["1.工作负责人（作业负责人）不了解现场所有的工作内容，不掌握危险点及安全防控措施。", "2.专责监护人不掌握监护范围内的工作内容、危险点及安全防控措施。", "3.作业人员不熟悉本人参与的工作内容，不掌握危险点及安全防控措施。",] },
                    { id: "3", title: "超出作业范围未经审批。", content: ["1.在原工作票的停电及安全措施范围内增加工作任务时，未征得工作票签发人和工作许可人同意，未在工作票上增填工作项目。", "2.原工作票增加工作任务需变更或增设安全措施时，未重新办理新的工作票，并履行签发、许可手续。",] },
                    { id: "4", title: "作业点未在接地保护范围。", content: ["1.装设接地线（接地刀闸）前未验电。", "2.停电工作的设备或地段，可能来电（包括反送电）的各方未在正确位置装设接地线（接地刀闸）。", "3.作业人员擅自移动、拆除接地线（接地刀闸）。", "4.配合停电的线路未在交叉跨越或邻近线路处附近装设接地线。", "5.在平行或邻近带电设备、交叉跨越或同杆架设等易产生感应电压的地点工作，未加装工作接地线或个人保安线。", "6.耐张塔挂线前，未使用导体将耐张绝缘子串短接。", "7.放线区段有跨越、平行带电线路时，牵引机及张力机出线端的导（地）线及牵引绳上未安装接地滑车。",] },
                    { id: "5", title: "高处作业失去保护。", content: ["1.高处作业人员在上下、转移作业位置时，失去安全保护。", "2.高处作业未搭设脚手架，未使用高空作业车、升降平台或采取其他防止坠落措施。", "3.在深基坑口、坝顶、陡坡、屋顶、悬崖、杆塔、吊桥以及其他危险的边沿进行工作，临空一面未装设安全网或防护栏杆，或作业人员未使用安全带。",] },
                    { id: "6", title: "无票作业。", content: ["1.未按照《安规》规定使用工作票（施工作业票）、操作票、事故紧急抢修单、作业申请单。", "2.未根据值班调控人员或运维负责人正式发布的指令进行倒闸操作。", "3.在油罐区、注油设备、电缆间、计算机房、换流站阀厅等防火重点部位（场所）以及政府部门、本单位划定的禁止明火区动火作业时，未使用动火票。", "4.未针对跨越架搭设拆除、跨越封网等作业，办理被跨越电力线路的第一种工作票（停电情况）或第二种工作票（不停电情况）跨越未办理工作票。",] },
                    { id: "7", title: "票面（包括作业票、工作票及分票、动火票、操作票等）关键内容缺失或错误。", content: ["1.操作票操作设备双重名称，拉合开关、刀闸的顺序以及位置检查、验电、装拆接地线（拉合接地刀闸）、投退保护压板（软压板）等关键内容遗漏或错误。", "2.工作票（含分票、工作任务单、动火票等）票面缺少工作许可人、工作负责人、工作票签发人、工作班成员（含新增人员）等签字信息。票面线路名称（含同杆多回线路双重称号）、设备双重名称填写错误。票面防触电、防高坠、防倒（断）杆、防窒息等重要安全技术措施遗漏或错误。工作票延期、工作负责人变更等未在票面上准确记录。作业票缺少审核人、签发人、作业人员(含新增人员）等签字信息。", "3.操作票发令、操作开始、操作结束时间以及工作票（含分票、工作任务单、动火票、作业票等）签发、许可、计划开工、结束时间存在逻辑错误或与实际不符。",] },
                    { id: "8", title: "工作负责人（作业负责人、专责监护人）不在现场。", content: ["1.工作负责人（作业负责人、专责监护人）未到作业现场。", "2.工作负责人（作业负责人）暂时离开作业现场时，未指定能胜任的人员临时代替；或长时间离开作业现场时，未由原工作票签发人变更工作负责人。", "3.专责监护人临时离开作业现场时，未通知被监护人员停止作业；或长时间离开作业现场时，未由工作负责人变更专责监护人。", "4.劳务分包人员担任工作负责人（作业负责人）。",] },
                    { id: "9", title: "未经许可即开始工作；全部工作未结束即办理终结手续。", content: ["1.公司系统电网生产作业未经调度管理部门或设备运维管理单位许可，擅自开始工作。", "2.在用户设备上工作，许可工作前，工作负责人未检查确认用户设备的运行状态、安全措施是否符合作业的安全要求", "3.多小组工作，小组负责人未得到工作负责人的许可即开始工作；工作负责人未得到所有小组负责人工作结束的汇报，就与工作许可人办理工作终结手续。",] },
                    { id: "10", title: "约时停、送电；带电作业约时停用或恢复重合闸。", content: ["1.电力线路或电气设备的停、送电未按照值班调控人员或工作许可人的指令执行，采取约时停、送电的方式进行倒闸操作。", "2.需要停用重合闸或直流线路再启动功能的带电作业未由值班调控人员履行许可手续，采取约时方式停用或恢复重合闸或直流线路再启动功能。",] },
                    { id: "11", title: "应用未用或使用不合格的安全工器具。", content: ["1.在高处作业、垂直交叉作业、立杆架线、起重吊装等存在高坠、物体打击风险的作业区域内，人员未佩戴安全帽。", "2.操作没有机械传动的断路器（开关）、隔离开关（刀闸）或跌落式熔断器，未使用绝缘棒。", "3.应用未用或使用的个体防护装备（安全带、安全绳、静电防护服、防电弧服、屏蔽服装等）、绝缘安全工器具（验电器、接地线、绝缘手套（高压）、绝缘靴、绝缘杆、绝缘遮蔽罩、绝缘隔板等）等专用工具和器具未检测或检测结果不合格。",] },
                    { id: "12", title: "人员资质不符合现场作业要求。", content: ["1.现场作业人员、监理人员未经安全准入考试并合格。", "2.不具备“三种人”资格的人员担任工作票签发人、工作负责人或许可人。", "3.特种设备作业人员、特种作业人员、危险化学品从业人员未依法取得资格证书。",] },
                    { id: "13", title: "未计算拉线、地锚受力情况和近电作业安全距离情况。", content: ["1.抱杆、牵张机、索道设备的地锚、拉线，铁塔锚固、导地线锚固的地锚、拉线受力情况未经过验算。", "2.在带电设备附近作业前，未根据带电体安全距离要求，对施工作业中可能进入安全距离内的人员、机具、构件等进行计算校核；或校核结果与现场实际不符，不满足安全要求时未采取有效措施。", "3.地锚、拉线未经验收合格即投入使用。",] },
                    { id: "14", title: "专项施工方案未按规定编审批。", content: ["1.对“超过一定规模的危险性较大的分部分项工程”（含大修、技改等项目），未组织编制专项施工方案（含安全技术措施），未按规定论证和审批。", "2.针对《国家电网有限公司关于印发严控严防重特大人身事故硬措施通知》要求混凝土建（构）筑物垮塌、脚手架整体倒塌、深基坑及边坡施工等12类典型场景作业，未按规定编制、论证和审批专项施工方案。",] },
                    { id: "15", title: "重要工序、关键环节作业未按施工方案或规定程序开展。", content: ["1.电网建设工程施工重要工序及关键环节未按施工方案中作业方法、标准或规定程序开展作业。", "2.针对《国家电网有限公司关于印发严控严防重特大人身事故硬措施通知》15类典型作业场景，未按规定落实强制措施。",] },
                    { id: "16", title: "擅自解除带电部位隔离措施。", content: ["1.擅自开启高压开关柜门、检修小窗。", "2.高压开关柜内手车开关拉出后，隔离带电部位的挡板未可靠封闭或擅自开启隔离带电部位的挡板。", "3.擅自移动绝缘挡板（隔板）。",] },
                    { id: "17", title: "电容性设备未充分放电。", content: ["1.电缆及电容器接地前未逐相充分放电，星形接线电容器的中性点未接地、串联电容器及与整组电容器脱离的电容器未逐个多次放电，装在绝缘支架上的电容器外壳未放电。", "2.高压试验变更接线或试验结束时，未将升压设备的高压部分放电、短路接地。未装接地线的大电容被试设备未先行放电再做试验。",] },
                    { id: "18", title: "在带电设备周围违规使用金属器具。", content: ["1.在带电设备周围使用钢卷尺、皮卷尺和线尺（夹有金属丝者）进行测量工作。", "2.在变、配电站（开关站）的带电区域内或临近带电线路处，使用金属梯子、金属脚手架。",] },
                    { id: "19", title: "大型机械在运行站内或邻近带电线路处违规作业。", content: ["1.在运行站内使用起重机、高空作业车、挖掘机等大型机械开展作业前，施工方案未经设备运维单位批准。", "2.未经设备运维单位批准，擅自改变运行站内起重机、高空作业车、挖掘机等大型机械的工作内容、工作方式、行进路线、作业地点等。", "3.近电作业起重机、高空作业车未接地。", "4.近电吊装作业人员徒手扶持吊件。",] },
                    { id: "20", title: "立（拆）杆塔、架（撤）线作业未按规定采取防倒杆塔措施。", content: ["1.地脚螺栓与螺母型号不匹配。", "2.耐张杆塔非平衡紧挂线、撤线前，未设置杆塔临时拉线或其他补强措施。", "3.在永久拉线未全部安装完成的情况下就拆除临时拉线。", "4.拉线塔分解拆除时未先将原永久拉线更换为临时拉线再进行拆除作业。", "5.杆塔整体拆除时，未增设拉线控制倒塔方向。", "6.带张力断线或采用突然剪断导、地线的做法松线。", "7.杆塔上有人时，调整或拆除拉线。", "8.紧断线平移导线挂线作业未采取交替平移子导线的方式。",] },
                    { id: "21", title: "采用正装法对接组立悬浮抱杆。", content: ["略。",] },
                    { id: "22", title: "牵引过程中人员处于受力绳索内角侧或直接拉拽受力导、引线。", content: ["1.牵引过程中作业人员站在或跨在已受力的牵引绳、起吊绳、导地线的内角侧以及展放的线圈内。", "2.放线、紧线，遇导、地线有卡、挂住现象，未松线后处理，操作人员站在线弯的内角侧，用手直接拉、推导地线。",] },
                    { id: "23", title: "跨越施工未采取跨越架、封网等安全措施。", content: ["跨越带电线路、电气化铁路、高速公路、通航河流展放导（地）线作业，未采取跨越架、封网等安全措施，或跨越架、封网未经验收合格即投入使用。",] },
                    { id: "24", title: "货运索道载人或超载使用。", content: ["物料提升系统、货运小车等非载人提升设施及货运索道载人。",] },
                    { id: "25", title: "起重吊装作业未采取防倾倒措施，超限吊装。", content: ["1.起重设备、受力工器具（抱杆连接螺栓、吊索具、卸扣等）超负荷使用。", "2.起重机车轮、支腿或履带的前端、外侧与沟、坑边缘的距离小于沟、坑深度的1.2倍时，未采取防倾倒、防坍塌措施。", "3.吊车未安装限位器。",] },
                    { id: "26", title: "起重作业无专人指挥。", content: ["以下起重作业无专人指挥：", "1.被吊重量达到起重作业额定起重量的80%。", "2.两台及以上起重机械联合作业。", "3.起吊精密物件、不易吊装的大件或在复杂场所（人员密集区、场地受限或存在障碍物）进行大件吊装。", "4.起重机械在临近带电区域作业。", "5.易燃易爆品必须起吊时。", "6.起重机械设备自身的安装、拆卸。", "7.新型起重机械首次在工程上应用。",] },
                    { id: "27", title: "对带有压力的设备开展拆解作业前未泄压。", content: ["略。",] },
                    { id: "28", title: "平衡挂线时，在同一相邻耐张段的同相导线上进行其他作业。", content: ["略。",] },
                    { id: "29", title: "高空锚线未设置二道保护措施。", content: ["1.平衡挂线、导地线更换作业过程中，高空锚线未设置二道保护措施。", "2.更换绝缘子串和移动导线作业过程中，采用单吊（拉）线装置时，未设置防导线脱落的后备保护措施。",] },
                    { id: "30", title: "有限空间作业未执行“先通风、再检测、后作业”要求；未正确设置监护人；未配置或不正确使用安全防护装备、应急救援装备。", content: ["1.有限空间（电缆井、电缆隧道、深度超过2m的基坑及沟（槽）内且相对密闭、容易聚集易燃易爆及有毒气体）作业前未通风、未检测。", "2.在有限空间内作业期间，气体检测浓度高于规定3要求，冒险作业。", "3.未根据有限空间作业环境和作业内容，配备气体检测设备、呼吸防护用品、坠落防护用品、其他个体防护用品和通风设备、照明设备、通讯设备以及应急救援装备等。", "4.有限空间作业未在入口设置监护人或监护人擅离职守。",] },
                    { id: "31", title: "危险性较大的施工平台无施工方案、超载使用。", content: ["1.悬吊式作业平台、混凝土承重支撑架、24米以上落地脚手架无施工方案，使用前未经监理验收即投入使用。", "2.吊篮、悬吊式作业平台未设置上限位装置，在作业面下方涉及危险部位、设备设施安全防护、交叉作业等情况的未设置下限位装置。", "3.吊篮、悬吊式作业平台、混凝土承重支撑架、24米以上落地脚手架超载使用或荷载严重不均。", "4.脚手架拆除作业未按自上而下的顺序进行，采用上下层同时作业、自下而上或推倒的方式拆除脚手架。",] },
                    { id: "32", title: "硐室及高边坡施工未进行安全监测、支护不及时。", content: ["1.硐室开挖未按照规范要求进行超前地质预报，未对硐室围岩稳定情况进行安全确认。", "2.硐室和高边坡开挖未按照规范要求进行安全监测和观测分析。", "3.硐室开挖爆破后，未根据作业面裸露围岩情况采取随机支护措施或未按照设计要求进行跟进支护情况下，擅自进行下道工序施工。", "4.对断层、裂隙、破碎带等不良地质构造的高边坡，未按设计要求采取锚喷或加固等支护措施。", "5.强降雨或长时间降雨后，未检查确认护坡稳定性即进入护坡下方。",] },
                    { id: "33", title: "模板支架拆除时混凝土强度未达到设计或规范要求。", content: ["1.高支模混凝土施工中，混凝土强度未达到设计要求时，拆除模板。", "2.模板滑升、混凝土出模时，混凝土发生流淌或局部塌落现象。", "3.模板爬升时，承载体受力处的混凝土强度小于10MPa，或不满足设计要求。",] },
                    { id: "34", title: "进入水轮机（水泵）内部、检修主进水阀未隔离水源。", content: ["1.进入水轮机（水泵）内部工作时，未严密关闭进水闸门（或进水阀），并保持输水管道排水阀和蜗壳排水阀全开启；未切断调速器操作油压；未切断水导轴承油（水）源、主轴密封润滑水源和调相充气气源等。", "2.进水阀检修时，未严密关闭进水口检修闸门及尾水闸门，切断闸门的操作源，做好彻底隔离水源措施；未关闭所有可能向检修区域管道来压（油、水、气）的管路阀门；未打开上游输水管道、蜗壳排水阀；对带有配重块的进水球阀拐臂，检修拐臂时未做好防止配重块坠落的安全措施。",] },
                    { id: "35", title: "水电工程竖（斜）井作业关键部位未防护、封闭。", content: ["1.竖（斜）井施工未对洞口采取防护措施。", "2.竖（斜）井导井口未封闭（溜渣、爆破作业时除外）。", "3.竖（斜）井内上下层同时作业。",] },

                ],
                searchQuery: '',  //存放搜索关键词
                showBackToTop: false,
            }
        },
        computed: {
            searchResults() {
                const query = this.searchQuery;
                if (!query) {
                    return this.details;
                };
                return this.details.filter(item => item.title.includes(query))
            }
        },
        mounted() {
            window.addEventListener("scroll", this.handleScroll);
        },
        beforeUnmount() {
            window.removeEventListener("scroll", this.handleScroll);
        },
        methods: {
            handleScroll() {
                this.showBackToTop = window.scrollY > 200;
            },
            scrollToTop() {
                window.scrollTo({ top: 0, behavior: "smooth" });
            }
        }
    }).mount('#app')
</script>

</html>